<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - héroes tecnológicos</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Héroes tecnológicos</h1>
    <!-- Intenté usar estos links para facilitar
    la navegación, pero no los pude hacer funcionar -->
    <!-- <a href="./babbage.html">Charles Babbage</a> <br />
    <a href="./berners-lee.html">Tim Berners-Lee</a> <br />
    <a href="./clarke.html">Edmund Clarke</a> <br />
    <a href="./hamilton.html">Hamilton</a> <br />
    <a href="./hopper.html">Grace Hopper</a> <br />
    <a href="./lovelace.html">Ada Lovelace</a> <br />
    <a href="./turing.html">Alan Turing</a> -->
  </body>
</html>
